// core

body {
	background: #ffeb9e;
}

.container {
	padding: 0 20px;
	margin: 0 auto;
	max-width: 960px;
	width: 100%;
}

#wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

#header {
	flex:  0 0 auto;
	padding-top: 30px;
	width: 100%;
	height: 200px;
}

#main {
	flex:  1 1 auto;
	width: 100%;

	h2 {
		color: #f0c642;
		text-shadow: 0 3px 10px #f0c642;
		text-align: center;
		font-size: 36px;
	}
}

// Tabs
.tabs {
	&:first-child {
		padding-bottom: 100px;
	}
 }

.tab-nav {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		flex: 0 0 auto;

		&:not(:first-child) {
			margin-left: -1px;
		}
	}

	a {
		display: block;
		padding: 10px 25px;
		border-radius: 15px 15px 0 0;
		background: #fff;
		color: #f0c642;
		font-size: 18px;
		font-weight: 700;

		&.active {
			background: rgba(239, 193, 55, .9);
			color: #fff;
		}
	}
}

.tab-content {
	.tab-common {
		display: none;
		padding: 10px;
		background: #fff;

		&.active {
			display: block;
		}
	}

	.tab01 {
		background: rgba(red, .5);
	}
	.tab02 {
		background: rgba(blue, .5);
	}
	.tab03 {
		background: rgba(green, .5);
	}
}
